body{
    margin: 0px;
    padding: 0px;
}
main{
    font-size: 25px;
}
li{
    list-style: none;
}
.logo{
    margin-left: 75.5%;
    color: #1DA1F2;
}
input[type="radio"]{
    display: none;
}
.radiobtn{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 7.5px;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}
.form{
    height: 500px;
    width: 500px;
    margin-top: 2.5%;
    border-radius: 30%;
    background-color: #1DA1F2;
    text-align: center;
}
input[type="radio"]:checked + label{
    background-color: #204;
}
input{
    border-radius: 10%;
    margin-top: 12.5%;
}
input[type="radio"]:checked + label {
    background: #31A9EE;
    color: #fff;
}
.priority-radio{
    margin-top: 12.5%;
}
.resetsubmit{
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}
input[type="submit"]{
    margin-top: 15%;
}
input[type="reset"]{
    margin-top: 26%;
    margin-right: ;
}